.form,
.header {
  max-width: 400px;
  margin: 0 auto;
  padding: 1rem;
}

.container {
  height: 70vh;
}
.formItem {
  margin-bottom: 1rem;
}

.formItem label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.formItem input {
  width: 100%;
  padding: 0.8rem;
  border: 1px solid #ccc;
}

.form button {
  padding: 0.8rem;
  width: 100%;
  border: solid white 1px;
  background-color: transparent;
  color: white;
  margin-top: 1rem;
  font-size: 1rem;
  cursor: pointer;
}

.form button:disabled {
  background-color: #ccc;
}
