:root {
  --background: #333;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #333;
    --foreground: #333;
  }
}
@import "leaflet/dist/leaflet.css";
html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
.navbar-toggler:focus {
  box-shadow: none !important;
  border: none !important;
  border-radius: 0 !important;
}

.navbar-toggler {
  border: none !important;
  padding-block: 0.4rem !important;
  border-radius: 0 !important;
}

body {
  color: var(--foreground);
  background: var(--background) !important;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
input,
button,
textarea {
  font-size: 16px;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.leaflet-container {
  background-color: unset;
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip,
.leaflet-popup-content {
  margin: 0;
  background: transparent;
  box-shadow: none;
}
.leaflet-popup-close-button {
  display: none;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.swiper-slide {
  margin-block: auto;
}
.swiper-container {
  position: relative;
}
.spinner {
  height: 65vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 29px;
}
.swiper-button-next,
.swiper-button-prev,
.swiper-button-disabled,
.swiper-pagination {
  opacity: 0 !important;
  transition: opacity 0.3s ease;
  color: #ffffff !important;
}
.swiper:hover .swiper-button-next,
.swiper:hover .swiper-button-prev {
  opacity: 1 !important;
}
.swiper:hover .swiper-button-disabled,
.swiper:hover .swiper-button-prev:disabled {
  opacity: 0.35 !important;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
