.menu {
}

.addpin {
  background-color: transparent;
  border-radius: 0;
}

.logout {
  border-radius: 0;
  text-decoration: none;
  padding-block: 0.4rem !important;
  padding-inline: 0.9rem !important;
}

.add {
  margin-left: 0.5rem;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

.pulse {
  animation: pulse 1s ease-in-out infinite;
  color: black;
  background-color: #f0f0f0;
}

@media (max-width: 575px) {
  .logout {
    margin-top: 0.5rem;
    background-color: rgba(0, 0, 0, 0.2);
  }
}
