.menu {
}

.addpin {
  background-color: transparent;
  border-radius: 0;
}

.logout {
  border-radius: 0;
  text-decoration: none;

  padding-block: 0.3rem;
  padding-inline: 0.9rem;
}

.logout button {
  border: none;
}

.add {
  margin-left: 0.5rem;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

.pulse {
  animation: pulse 1s ease-in-out infinite;
  color: black;
  background-color: #f0f0f0;
}
