.dashboardButtonContainer {
  position: absolute;
  top: -43px;
  right: 25%;
  left: 25%;
  z-index: 1000;
  text-align: center;
}

.dashboardButton {
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dashboardButton:hover {
  background-color: #005bb5;
}

.fadeIn {
  opacity: 0;
  animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.menu {
  position: fixed;
  top: 47px;
  left: -300px;
  width: 200px;
  height: 400px;
  background-color: transparent;
  color: white;
  padding: 20px;
  transition: left 0.3s ease;
}

.menu.open {
  left: 0;
}

.menu button {
  color: white;
  text-decoration: none;
  display: block;
  margin: 20px 0;
  cursor: pointer;
}

@media (min-width: 768px) {
  .menu {
    top: 47px;
    left: 1px;
  }
  .dashboardButton {
    display: none;
  }
}
