/* Modal-overlay for dark background */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Modal container */
.modalContent {
  background-color: #000000;
  padding: 20px;
  width: 400px;
  color: #fff;
  position: relative;
  height: 100vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  z-index: 1001; /* Se till att modalen är ovanpå overlay */
}

/* Close button style inside modal */
.closeButton {
  position: absolute;
  top: 0.625rem;

  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  z-index: 998;
}

/* Style for label */
.titleLabel,
.descriptionLabel {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

/* Input and textarea styles */
.modalContent input,
.modalContent textarea {
  padding: 10px;
  font-size: 1rem;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.modalContent textarea {
  resize: vertical;
  min-height: 100px;
}

/* Button styles */
.modalContent button {
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 4px;
  background-color: transparent;
}

.yearContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.yearContainer input {
  width: 25%;
}

.yearLabel {
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.lngLabel,
.latLabel {
  margin: 0.5rem;
}
.positionContainer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .modalOverlay {
    justify-content: end;
  }
}
