.modalOverlay {
  position: fixed;
  pointer-events: none;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  overflow: auto;
}

.modalContent {
  pointer-events: auto;
  background-color: #000000;
  padding: 20px;
  width: 400px;
  height: 400px;
  position: relative;
  height: 100vh;
  color: #fff;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  z-index: 1001;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  color: white;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.modalContent input,
.modalContent textarea {
  padding: 10px;
  font-size: 1rem;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.modalContent textarea {
  resize: vertical;
  min-height: 100px;
}

.modalContent button {
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 4px;
  background-color: transparent;
}

.yearContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.yearContainer input {
  width: 25%;
}

.yearLabel {
  margin-right: 1rem;
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .modalOverlay {
    justify-content: end;
  }
}
