.menu {
  position: fixed;
  top: 48px;
  right: -200px;
  width: 200px;
  height: 400px;
  background-color: green;
  color: white;
  padding: 20px;
  transition: right 0.3s ease;
  z-index: 999;
}

.menu.open {
  right: 0;
}

.menu button {
  color: white;
  text-decoration: none;
  display: block;
  margin: 20px 0;
  cursor: pointer;
}
